# Archivos de sistema
.DS_Store           # macOS
Thumbs.db           # Windows

# Archivos de logs
*.log

# Directorios de dependencias
node_modules/       # Node.js
venv/               # Entornos virtuales de Python
.env                # Archivos de entorno

# Archivos compilados
*.class             # Archivos Java compilados
*.exe               # Archivos ejecutables
*.out               # Archivos de salida
*.o                 # Archivos objeto

# Archivos temporales de editores
.vscode/            # Configuración de Visual Studio Code
.idea/              # Configuración de JetBrains IDEs (IntelliJ, PyCharm, etc.)
*.swp               # Archivos temporales de vim
*.suo               # Archivos temporales de Visual Studio

# Archivos de configuración específicos de herramientas
*.iml               # Archivos de configuración de IntelliJ IDEA
*.coverage          # Archivos de cobertura de pruebas (coverage.py)
*.log               # Archivos de logs generados por el sistema

# Archivos generados por herramientas de construcción
/dist/              # Carpeta de distribución (por ejemplo, para proyectos en Node.js)
build/              # Archivos generados durante el proceso de construcción
*.tar.gz            # Archivos comprimidos
*.zip               # Archivos comprimidos

# Archivos temporales de sistemas operativos
Desktop.ini         # Archivos temporales de Windows
Thumbs.db           # Archivos de caché de imagen de Windows
